@mixin tip-box-layout {
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

@mixin button-layout {
  width: 100%;
  border: none;
  border-radius: 5px;
}

@mixin input-icon($url) {
  background: url("#{$url}") no-repeat;
  background-color: $input-background;
  background-position: left 1em top 1em;
}
