@media only screen and (max-width: 600px) {
  .calc-container {
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }

  .data-side,
  .display-side {
    width: 100%;
  }

  .calc-container .data-side {
    padding-right: 0;
  }

  .bill-section,
  .tip-section,
  .people-section {
    margin-bottom: 30px;
  }

  .display-side {
    padding: 2rem 1rem 1rem;
  }

  .tip-line,
  .total-line {
    margin-bottom: 30px;
  }

  .tip-amount,
  .total-amount {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 375px) {
  body .calc-container {
    padding: 1rem;
  }

  .calc-container .display-side {
    padding: 2rem 1rem 1rem;
  }

  .tip-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
