@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import "config";
@import "inputs";
@import "queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  font-weight: 700;
}

/* ---------------------------------------------- */
/* CALCULATOR STYLES */
/* ---------------------------------------------- */

.calc-container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  position: fixed;
  width: 900px;
  min-height: 460px;
  max-width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 2rem;
}

.data-side {
  min-width: 50%;
  margin-right: 1.5rem;
}

.display-side {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
  border-radius: 10px;
  padding: 3rem 2.5rem 2.5rem;
}

.input-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  input {
    @include button-layout;
    background-color: $input-background;
    color: $font-color;
    font-family: $font-stack;
    font-size: 1.2rem;
    text-align: right;
    border: 2px solid $input-background;

    &:focus {
      outline: none;
    }
  }
}

.bill-section {
  input {
    @include input-icon("../../../images/icon-dollar.svg");
    padding: 0.8rem;
    border: none;
    margin-top: 5px;

    &:focus {
      border: 2px solid $display-color;
    }
  }
}

label,
p {
  color: $font-color;
}

ul {
  list-style-type: none;
}

.tip-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;

  .tip-tile:not(:last-child) {
    @include tip-box-layout;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: $hover-color;
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

.tip-tile:last-child {
  @include tip-box-layout;
  color: unset;
  background-color: $input-background;
  transition: background-color 0.2s linear;

  a {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}

.tip-line {
  margin-bottom: 30px;
}

.tip-line,
.total-line {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
}

.tip-amount,
.total-amount {
  color: $display-color;
  font-size: 2.5rem;
  position: relative;
  bottom: 12px;
}

.amount-info {
  li:nth-child(2) {
    color: $font-color;
    font-size: 0.8rem;
  }
}

.people-section {
  input {
    @include input-icon("../../../images/icon-person.svg");
    padding: 0.8rem;
    border: none;
    margin-top: 5px;
  }

  .people-row {
    display: flex;
    justify-content: space-between;
  }
}

button {
  @include button-layout;
  background-color: hsl(186, 57%, 33%);
  color: $secondary-color;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
  padding: 1rem;
  border: none;

  &:hover {
    background-color: $hover-color;
    color: $secondary-color;
    cursor: pointer;
  }
}

/* ---------------------------------------------- */
/* JS BEHAVIOR */
/* ---------------------------------------------- */

.btn-bg1 {
  background-color: $secondary-color;
}

.btn-bg2 {
  background-color: $display-color;
}

.btn-font1 {
  color: hsl(0, 0%, 100%);
}

.btn-font2 {
  color: $secondary-color;
}

.last-btn-font {
  color: $font-color;
}

.last-btn-border {
  border: 2px solid $display-color;
}

.err-border {
  border: 2px solid hsl(0, 100%, 74%);
}

.people-err {
  color: hsl(0, 100%, 74%);
  text-align: right;
}

.hidden {
  display: none;
}
