@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

li:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .calc-container {
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }

  .data-side,
  .display-side {
    width: 100%;
  }

  .bill-section,
  .tip-section,
  .people-section {
    margin-bottom: 30px;
  }

  .display-side {
    padding: 2rem 1rem 1rem;
  }

  .tip-line,
  .total-line {
    margin-bottom: 30px;
  }

  .tip-amount,
  .total-amount {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 375px) {
  .tip-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
}

/* ---------------------------------------------- */
/* CALCULATOR STYLES */
/* ---------------------------------------------- */
.calc-container {
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  position: fixed;
  width: 900px;
  height: 460px;
  max-width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 2rem;
  gap: 0 2rem;
}

.data-side {
  width: 50%;
}

.display-side {
  background-color: hsl(183deg, 100%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border-radius: 10px;
  padding: 3rem 2.5rem 2.5rem;
}

.input-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.input-list input {
  width: 100%;
  border-radius: 5px;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(186deg, 14%, 43%);
  font-family: "Space Mono", sans-serif;
  font-size: 1.2rem;
  text-align: right;
  margin-top: 5px;
}
.input-list input:focus {
  outline: none;
}

.bill-section input {
  background: url("../../../images/icon-dollar.svg") no-repeat;
  background-color: hsl(189deg, 41%, 97%);
  background-position: left 1em top 1em;
  padding: 0.8rem;
  border: none;
}
.bill-section input:focus {
  border: 2px solid hsl(172deg, 67%, 45%);
}

label,
p {
  color: hsl(186deg, 14%, 43%);
}

ul {
  list-style-type: none;
}

.tip-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.tip-grid .tip-tile:not(:last-child) {
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.2s linear;
}
.tip-grid .tip-tile:not(:last-child):hover {
  background-color: hsl(177deg, 63%, 71%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
}

.tip-tile:last-child {
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  color: unset;
  background-color: hsl(189deg, 41%, 97%);
  transition: background-color 0.2s linear;
}
.tip-tile:last-child a {
  color: inherit;
}
.tip-tile:last-child:hover {
  cursor: pointer;
}

.tip-line {
  margin-bottom: 30px;
}

.tip-line,
.total-line {
  color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: space-between;
}

.tip-amount,
.total-amount {
  color: hsl(172deg, 67%, 45%);
  font-size: 2.5rem;
  position: relative;
  bottom: 12px;
}

.amount-info li:nth-child(2) {
  color: hsl(186deg, 14%, 43%);
  font-size: 0.8rem;
}

.people-section input {
  background: url("../../../images/icon-person.svg") no-repeat;
  background-color: hsl(189deg, 41%, 97%);
  background-position: left 1em top 1em;
  padding: 0.8rem;
  border: none;
}
.people-section .people-row {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
  border-radius: 5px;
  background-color: hsl(186deg, 57%, 33%);
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: hsl(177deg, 63%, 71%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
}

/* ---------------------------------------------- */
/* JS BEHAVIOR */
/* ---------------------------------------------- */
.btn-bg1 {
  background-color: hsl(183deg, 100%, 15%);
}

.btn-bg2 {
  background-color: hsl(172deg, 67%, 45%);
}

.btn-font1 {
  color: hsl(0deg, 0%, 100%);
}

.btn-font2 {
  color: hsl(183deg, 100%, 15%);
}

.last-btn-font {
  color: hsl(186deg, 14%, 43%);
}

.last-btn-border {
  border: 2px solid hsl(172deg, 67%, 45%);
}

.err-border {
  border: 2px solid hsl(0deg, 100%, 74%);
}

.people-err {
  color: hsl(0deg, 100%, 74%);
  text-align: right;
}

.hidden {
  display: none;
} /*# sourceMappingURL=style.css.map */
